body {
    font-family: Arial, sans-serif;
    background-color: #c8e6c9; /* Adjusted pastel green background */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333; /* Dark gray text color */
}

.profile-info {
    background-color: #fff; /* White background for profile info */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    margin-bottom: 20px;
}

.profile-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.profile-info p {
    margin: 10px 0;
}

.profile-picture {
    background-color: #fff; /* White background for profile picture */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
}

